.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.h-custom {
    height: calc(100% - 73px);
}
@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.formcenter {
    margin:auto;
    width:400px;
}

.partee {
    width: 49%;
    float: left;
    border: 2px solid #000;
    border-radius: 10px;
    overflow: hidden;
}

.parted {
    width: 49%;
    float: right;
    border: 2px solid #000;
    border-radius: 10px;
    overflow: hidden;
}

.color {
    background-color: #ff8600;
    color: #ff8600;
    solid-color: #ff8600;
}

.navbarl {
    padding-right: 10px;
    padding-left: 10px;
}

.right {
    align-self: end;
}

.pad {
    padding: 10px;
}

.title {
    padding-left: 10px;
    font-size: larger;
    padding-bottom: -10px;
}