<!DOCTYPE html>

<html lang="pt" xmlns:th="http://www.thymeleaf.org" xmlns:cliente="com.example.Cliente">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="cliente.css">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Dashboard</title>
    </head>

    <!--		NavBar			  -->
    <nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #ff8600">
        <a class="navbar-brand navbarl"> Dashboard </a>
        <div id="navbarNavDropdown" class="right">
            <ul class="navbar-nav right">
                <li class="nav-item right">
                    <form action="/logout" method="post">
                        <a class="nav-link" href="login.html">Logout</a>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    <body>
        <div class="pad">
            <!--perfil-->
            <div class="perfil">
                <p class="title">Perfil</p>
                <table class="table">
                    <thead>
                        <tr><th scope="col">ID</th></tr>
                    </thead>
                    <tbody>
                        <tr><td th:text="${cliente.idCliente}"></td></tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                        <tr><th scope="col">Nome</th></tr>
                    </thead>
                    <tbody>
                        <tr><td th:text="${cliente.nome}"></td></tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                        <tr><th scope="col">Email</th></tr>
                    </thead>
                    <tbody>
                        <tr><td th:text="${cliente.email}"></td></td></tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                        <tr><th scope="col">Password</th></tr>
                    </thead>
                    <tbody>
                        <tr><td th:text="${cliente.password}"></td></td></tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                        <tr><th scope="col">Telemóvel</th></tr>
                    </thead>
                    <tbody>
                        <tr><td th:text="${cliente.telemovel}"></td></td></tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                        <tr><th scope="col">NIF</th></tr>
                    </thead>
                    <tbody>
                        <tr><td th:text="${cliente.nif}"></td></tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                        <tr><th scope="col">Data Nascimento</th></tr>
                    </thead>
                    <tbody>
                        <tr><td th:text="${cliente.dataNascimento}"></td></td></tr>
                    </tbody>
                </table>
                <table class="table">
                    <thead>
                        <tr><th scope="col">Cod Postal</th></tr>
                    </thead>
                    <tbody>
                        <tr><td th:text="${cliente.codigoPostal}"></td></tr>
                    </tbody>
                </table>
            </div>
            <!--aulas-->
            <div class="aulasA">
            <div>
                <p class="pad">Aulas Agendadas</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Nº</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Data</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Duração (m)</th>
                        <th scope="col">Sala</th>
                        <th scope="col">Vagas tot.</th>
                        <th scope="col">Vagas disp.</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="aula : ${aulasPlaneadas}">
                        <td th:text="${aula.numAula}"></td>
                        <td th:text="${aula.tipoAula}"></td>
                        <td th:text="${aula.dataAula}"></td>
                        <td th:text="${aula.horaAula}"></td>
                        <td th:text="${aula.duracao}"></td>
                        <td th:text="${aula.sala}"></td>
                        <td th:text="${aula.vagas}"></td>
                        <td th:text="${aula.vagasDisp}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <p class="pad">Aulas Realizadas</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Nº</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Data</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Duração (m)</th>
                        <th scope="col">Sala</th>
                        <th scope="col">Vagas tot.</th>
                        <th scope="col">Vagas disp.</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each=" listaAulasReal : ${aulasRealizadas}">
                        <td th:data="${listaAulasReal.numAula}"></td>
                        <td th:text="${listaAulasReal.tipoAula}"></td>
                        <td th:text="${listaAulasReal.dataAula}"></td>
                        <td th:text="${listaAulasReal.horaAula}"></td>
                        <td th:text="${listaAulasReal.duracao}"></td>
                        <td th:text="${listaAulasReal.sala}"></td>
                        <td th:text="${listaAulasReal.vagas}"></td>
                        <td th:text="${listaAulasReal.vagasDisp}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </div>
            <!--Planos-->
            <div class="planos padl">
                <p class="pad">Planos de Treino</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Nº Plano</th>
                        <th scope="col">Data</th>
                        <th scope="col">Estado</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each=" plano : ${planos}">
                        <td th:data="${plano.numPlano}"></td>
                        <td th:text="${plano.dtCriacao}"></td>
                        <td th:text="${plano.estado}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--subs-->
            <div class="subs">
                <p class="pad">Subscrições</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Nº Subscrição</th>
                        <th scope="col">Data Inicio</th>
                        <th scope="col">Data Fim</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Valor</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each=" sub : ${subscricoes}">
                        <td th:data="${sub.numSubscricao}"></td>
                        <td th:text="${sub.dataIni}"></td>
                        <td th:text="${sub.dataFim}"></td>
                        <td th:text="${sub.estado}"></td>
                        <td th:text="${sub.valor}"> €</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>